
<div class="container">
    <button mat-mini-fab >
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon>person_add_alt</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon>palette</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon>crop_original</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon>more_vert</mat-icon>
      </button>
</div>
