
<div class="container">
    <button mat-mini-fab >
        <mat-icon class="material-icons-outlined">add_alert</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon class="material-icons-outlined">person_add_alt</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon class="material-icons-outlined">palette</mat-icon>
      </button>
      <button mat-mini-fab >
        <mat-icon class="material-icons-outlined">crop_original</mat-icon>
      </button>
      <button mat-mini-fab (click)="Archive(NoteId)">
        <mat-icon class="material-icons-outlined">archive</mat-icon>
      </button>
      <button mat-mini-fab [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="Trash(NoteId)">Delete note</button>
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>Show checkboxes</button>
      </mat-menu>
</div>
