.main{
    display: flex;
    gap: 15px;
}
.header{
    display: flex;
    flex-wrap: wrap;
}

.container{
    min-height: 38px;
    padding: 16px 16px 0 16px;
    width: 240px;
    height: auto;
    border-radius: 0.5rem;
    border: solid transparent;
    box-shadow: 0 3px 5px rgba(0,0,0,.20);
    
    justify-content: center;
    position: relative;
    p{
        display: inline;
        width: 80%;
    }
    button{
        position: relative;
        visibility: hidden;

    }
}
.form-item{
    display: flex;
    justify-content: space-between;
}
.desc {
    box-sizing: border-box;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.container:hover button{
    visibility: visible;

}
.icons{
    visibility: hidden;
}
.container:hover .icons{
    visibility: visible;
}
div button:hover{
    background-color: rgb(187, 185, 185);
    transition: color 0.2s ease-out;
}
mat-icon{
opacity: 0.56;
}