<div class="header">
<div class="main" *ngFor="let arr of AllNotes">
<div class="container" >
    <div class="form-item desc" (click)="openDialog(arr)">
        <p>{{arr.title}}</p>
        <button mat-mini-fab >
            <mat-icon class="material-icons-outlined">push_pin</mat-icon>
          </button>
    </div>
    <div class="desc">
        <p>{{arr.description}} </p>
        <br>
    </div>
    <div class="icons">
        <app-icons [NoteId]="arr.noteId"></app-icons>
        
    </div>
</div>


</div>
</div>