.main{
    display: flex;
    gap: 15px;
}

.container{
    min-height: 38px;
    padding: 16px 16px 0 16px;
    width: 240px;
    height: 156px;
    border-radius: 0.5rem;
    border: solid transparent;
    box-shadow: 0 3px 5px rgba(0,0,0,.20);
    
    justify-content: center;
    position: relative;
    p{
        display: inline;
        width: 80%;
    }
    button{
        position: relative;
        display: none;

    }
}
.form-item{
    display: flex;
    justify-content: space-between;
}
.desc {
    box-sizing: border-box;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.container:hover button{
    display: inline;

}
.icons{
    display:none;
}
.container:hover .icons{
    display: block;
}
div button:hover{
    background-color: grey;
    transition: color 0.2s ease-out;
}