<div class="main">
<div class="container">
    <div class="form-item desc">
        <p>Title hereaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa</p>
        <button mat-mini-fab >
            <mat-icon outline>push_pin</mat-icon>
          </button>
    </div>
    <div class="desc">
        <p>description hereaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="icons">
        <app-icons></app-icons>
        
    </div>
</div>
<div class="container">
    <div class="form-item desc">
        <p>Title hereaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa</p>
        <button mat-mini-fab >
            <mat-icon outline>push_pin</mat-icon>
          </button>
    </div>
    <div class="desc">
        <p>description hereaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="icons">
        <app-icons></app-icons>
        
    </div>
</div>

<div class="container">
    <div class="form-item desc">
        <p>Title hereaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa</p>
        <button mat-mini-fab >
            <mat-icon outline>push_pin</mat-icon>
          </button>
    </div>
    <div class="desc">
        <p>description hereaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="icons">
        <app-icons></app-icons>
        
    </div>
</div>

<div class="container">
    <div class="form-item desc">
        <p>Title hereaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa</p>
        <button mat-mini-fab >
            <mat-icon outline>push_pin</mat-icon>
          </button>
    </div>
    <div class="desc">
        <p>description hereaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="icons">
        <app-icons></app-icons>
        
    </div>
</div>
</div>