<div class="main">
    <div class="container">

        <div class="left">
            <img src="\assets\images\fundoo-notes-logo.png" alt="Fundoo" class="logo">
            <h3>Create Your Google Account</h3>

            <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div style="    display: flex;
                justify-content: space-between;">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" formControlName="firstName"/>
                        <mat-error>Enter Valid FirstName</mat-error>
                    </mat-form-field><br>

                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput type="text" formControlName="lastName">
                        <mat-error>Enter Valid lastName</mat-error>
                    </mat-form-field>
                </div>

                <div id="uname">
                    <mat-form-field class="username" appearance="outline">
                        <mat-label>User name</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error>Enter valid Email</mat-error>

                    </mat-form-field>
                    <span>You can use letters,numbers & periods</span>
                </div><br>
                <a href="">Use my current email address instead</a><br><br>
                <div style="    display: flex;
                justify-content: space-between;">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="{{showPass ?'text':'password'}}" formControlName="password">
                        <mat-error>Enter valid Password</mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput type="{{showPass ?'text':'password'}}" formControlName="confirmPassword">
                        <mat-error>Not Matching with password</mat-error>
                    </mat-form-field><br>
                </div>

                <span>Use 8 or more characters with a mix of letters, numbers & symbols</span>

                <div>
                    <mat-checkbox class="example-margin" (change)="showPass=!showPass"></mat-checkbox>
                    &nbsp; &nbsp;Show password
                </div>

                <div class="b-link">
                    <a routerLink="/login">Sign in instead</a>
                    <button mat-flat-button color="primary">Submit</button>
                </div>


            </form>

        </div>
        <div class="right">
            <img src="assets\images\register.svg" alt="">
            <p>One account.All of Google working for you</p>
        </div>
    </div>
</div>