.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  *{
    background-color: white;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1 {
    margin-left: 8px;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-left: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  .mat-drawer-side {
    border-right: none !important;
}
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .example-container .mat-form-field {
    width: 600px;
  }
  .side_nav{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
  }
  .side_menu{
    padding: 20px;
  }
  div button:hover{
    background-color: rgb(187, 185, 185);
    // transition: color 0.1s ease-out;
  }
  .header-first{
    padding-right: 20px;
  }
  .search-bar{
    padding: 7px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0,0,0,.20);
  }
  .search:focus{
    outline: none;
    border: none;
  }
  .search{
    width: 40rem;
    border: none;
    border-radius: 12px;
    
  }
  .header-second{
    display: flex;
    padding: 50px;
    margin: 32px;
    justify-content: space-evenly;
  }
  .header-third{
    display: flex;
    padding: 50px;
    margin: 10px;
    justify-content: space-evenly;
  }
  mat-nav-list button:hover{
    background-color: #feefc3;
  }
  mat-nav-list button:hover mat-icon{
    background-color: #feefc3;
  }
  mat-nav-list mat-icon{
    background-color: transparent;
    opacity: 0.54;
  }

  .nav-list{
    width: 190px;
  }
  mat-toolbar mat-icon{
    opacity: 0.54;
  }
  
  