<div class="main">
    
    <form action="">
        <div *ngIf="!isShow" (click)="show()" class="btn_def">
            <input type="text" class="add_note_def" placeholder="Take a note ...">
            <div>
                <button mat-mini-fab>
                    <mat-icon class="material-icons-outlined">check_box</mat-icon>
                </button>
                <button mat-mini-fab>
                    <mat-icon class="material-icons-outlined">brush</mat-icon>
                </button>
                <button mat-mini-fab>
                    <mat-icon class="material-icons-outlined">insert_photo</mat-icon>
                </button>
            </div>
    
    
    
        </div>
       
        <div *ngIf="isShow">
            <div>
                <input type="text" placeholder="Title" [(ngModel)]="title" name="title" class="form-item">

                <button mat-mini-fab>
                    <mat-icon class="material-icons-outlined">push_pin</mat-icon>
                </button>
            </div>

            <br>
             <input type=text placeholder="Take a note..." [(ngModel)]="desc" name="description" class="form-item">


            <div class="btn" *ngIf="isShow">
                <app-icons></app-icons>
                <div>
                    <a mat-flat-button (click)="close()">Close</a>
                </div>

            </div>
        </div>
    </form>
</div>