<div class="main">
    
    <form action="">
        <div *ngIf="!isShow" (click)="show()" class="btn_def">
            <input type="text" class="add_note_def" placeholder="Take a note ...">
            <div>
                <button mat-mini-fab>
                    <mat-icon>check_box</mat-icon>
                </button>
                <button mat-mini-fab>
                    <mat-icon>brush</mat-icon>
                </button>
                <button mat-mini-fab>
                    <mat-icon>insert_photo</mat-icon>
                </button>
            </div>
    
    
    
        </div>
       
        <div *ngIf="isShow">
            <div>
                <mat-form-field class="form-item">
                    <input matInput placeholder="Title" [(ngModel)]="title" name="title">
                </mat-form-field>

                <button mat-mini-fab>
                    <mat-icon>push_pin</mat-icon>
                </button>
            </div>

            <br>

            <mat-form-field class="form-item">
                <input matInput placeholder="Take a note..." [(ngModel)]="desc" name="description">
            </mat-form-field>


            <div class="btn" *ngIf="isShow">
                <app-icons></app-icons>
                <div>
                    <a mat-flat-button (click)="close()">Close</a>
                </div>

            </div>
        </div>
    </form>
</div>