
    
    

<div >
    <div>
        <input type="textarea" placeholder="Title" name="title" [(ngModel)]="NoteData.title" class="form-item">

        <button mat-mini-fab>
            <mat-icon class="material-icons-outlined">push_pin</mat-icon>
        </button>
    </div>

    <br>

    <input type="textarea" placeholder="Take a note..." name="description" [(ngModel)]="NoteData.description" class="form-item">


    <div class="btn">
        <app-icons></app-icons>
        <div>
            <a mat-flat-button (click)="submit()">Close</a>
        </div>

    </div>
</div>


