
    
    

<div >
    <div>
        <mat-form-field class="form-item" >
            <input matInput placeholder="Title" name="title" [(ngModel)]="NoteData.title">
        </mat-form-field>

        <button mat-mini-fab>
            <mat-icon class="material-icons-outlined">push_pin</mat-icon>
        </button>
    </div>

    <br>

    <mat-form-field class="form-item">
        <input matInput placeholder="Take a note..." name="description" [(ngModel)]="NoteData.description">
    </mat-form-field>


    <div class="btn">
        <app-icons></app-icons>
        <div>
            <a mat-flat-button (click)="submit()">Close</a>
        </div>

    </div>
</div>


