/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logo{
    width: 140px;
    height: 95px;
}

fab.mat-accent, .mat-mini-fab.mat-accent {
    color: #000000;
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #ffffff;
  box-shadow: none;
}

div button:hover mat-icon{
  background-color: rgb(187, 185, 185);
  transition: color 0.2s ease-out;
}
